.Slog {
    border-bottom: 3px solid black;
    padding: 10px 30px 10px 170px;
}

@media (max-width: 700px) {
    .Slog {
        padding: 10px 30px 10px 30px;
    }
}

.Slog_text {
    font-family: Evolventa-Oblique;
    font-size: 36px;
    animation: slogan 1s ease-in;
}

@media (max-width: 700px) {
    .Slog_text {
        font-size: 26px;
    }
}

@media (max-width: 450px) {
    .Slog_text {
        font-size: 16px;
    }
}

@keyframes slogan {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 450px) {
    @keyframes slogan {
        0% {
            transform: translateX(-70px);
        }
    
        100% {
            transform: translateX(0px);
        }
    }
}