.header {
    background: url(../../img/header.png);
    background-position: center center;
    background-size: cover;
    /* margin-top: 75px;   */
    padding-bottom: 270px;
}

@media (max-width: 1000px) {
    .header {
        padding-bottom: 100px;
    }
}

@media (max-width: 450px) {
    .header {
        margin-top: 25px;
        padding-bottom: 35px;
    }
}